<mat-toolbar>Collected consents</mat-toolbar>

<div *ngIf="dataSource" class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

     <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container> 

    <ng-container matColumnDef="Consent">
      <mat-header-cell *matHeaderCellDef> Consent </mat-header-cell>
      <mat-cell *matCellDef="let element">
           <div *ngFor="let item of fitlerOption(element.options)">
              {{item}}
          </div> 
      </mat-cell>
    </ng-container>

     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
  </mat-table>
</div>

<div class="container">
    <div class="text-center">
        <div *ngIf="pager?.pages?.length" class="pagination">
            <button [ngClass]="{disabled:pager.currentPage === 1}"
                    mat-raised-button
                    [disabled]="pager.currentPage === 1"
                    (click)="setPage(pager.currentPage - 1)">Previous</button>
            <button *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
                    class="pagination-btn"
                    mat-raised-button
                    [disabled]="pager.currentPage === page"
                    (click)="setPage(page)">{{page}}</button>
            <button [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
                    mat-raised-button
                    [disabled]="pager.currentPage === pager.totalPages"
                    (click)="setPage(pager.currentPage + 1)">Next</button>
        </div>
    </div>
</div>

